.ContactUs {
  padding: 20px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 100px;
  margin-top: 100px;
  border: grey;
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
  border-style: solid;
  border-width: 1px;
}
.Cards {
}
.ContactUsHeading {
  text-align: center;
}
